/* styles.css */

body {
    font-family: Arial, sans-serif;
    background: '/img/inocuidad.jpeg'
}

h1, h2 {
    text-align: center;
    margin-bottom: 10px;
}

p {
    margin-bottom: 5px;
}

body {
    background-color: #f0f0f0; /* Color de fondo para el cuerpo */
    margin: 0;
    padding: 20px; /* Añade algo de espacio entre el contenido y el borde de la ventana */
    box-sizing: border-box;
    text-align: center; /* Centra el contenido horizontalmente */
}

.contenido {
    background-color: #ffffff; /* Color de fondo del contenido */
    padding: 20px; /* Espaciado interno */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    border-radius: 10px; /* Esquinas redondeadas */
    max-width: 800px; /* Ancho máximo del contenido */
    margin: 0 auto; /* Centra el contenido horizontalmente */
    text-align: left; /* Alinea el texto a la izquierda dentro del contenido */
}
.title {
    font-size: 24px; /* Tamaño de fuente más grande */
    color: black; /* Color negro */
    text-align: center; /* Centrado */
    font-weight: bold; /* Texto en negrita */
}

.date {
    font-size: 18px; /* Tamaño de fuente más grande */
    color: black; /* Color negro */
    text-align: center; /* Centrado */
}